body {
  background-color: #FAFAF0;
}

/* sets the fieldset frame to be just wide
   enough to encompass the input labels/boxes */
.fieldset-auto-width {
     display: inline-block;
}

.fieldset-fixed-width {
     width: 25em;
}

th, td {
  padding: 0;
}

/*
table  {
  border-collapse: collapse;
  border-spacing: 0;
}
*/
